
# Ignore Terraform state files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
.history
terraform.exe
LICENSE.txt
docker-compose.yml
.ssh
FinalExam.code-workspace
volume/workspace/jenpipe
.env